.accueil {
    position:absolute;
    width: 100%;
    left:0%;
    top: 0%
}
.flex_acceuil{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.lign_offres{
    width: 50%;
    border-bottom: 1px solid #ffb300;
}
.img_offres_recentes{
    padding-top: 30px;
}
.div_offres_recentes{
    display: flex;
}
footer{
    height: 540px;
    width: 100%;
    background-size: cover;
    background-image: url("../../assets/backgroundfooter.png");
}
.description_myjob{
    padding-top: 15px;
}
h2{
    color:  #ffb300;
}
p{
    color: #fff;
}
.card{
    margin: 50px;
}
.social_network{
    margin-left: 30px;
}
.social_network ul li{
    font-style: none;
    text-decoration: none;
}
.lign_offres_footer{
    width: 100%;
    border-bottom: 1px solid #ffb300;
}