.profile {
    width: 390px;
    height: 350px;
    text-align: center;
}
.profileTitle {
    color: #1D2587;
    font-size: 30px;
    word-spacing: 5px;
    font-weight: bold;
    margin-bottom: 60px;
}
.profileTitle + div {
    width: 100%;
    display: flex;
}
.profileBack {
    width: 5.5%;
    background-image: url('back.svg');
    background-size: 70%;
    background-position:center;
    background-repeat: no-repeat;
}
.profileBack + div {
    width: 100%;
    overflow: hidden;
}
.profileContent {
    position: relative;
    width: 300%;
    display: flex;
    transition: left 2s;
}
.profileCont {
    width: 33%;
}
.profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.profileImage div {
    border-radius: 5em;
    width: 74px;
    height: 74px;
    background-image: url('./images.jpeg');
    background-size: 100%;
}
.profileName {
    font-size: 13px;
    font-weight: bold;
    color: #F7990E;
    margin-bottom: 30px;
}
.profileSay {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    font-weight: bold;
}
.profileNext {
    width: 5.5%;
    background-image: url('next.svg');
    background-size: 70%;
    background-position:center;
    background-repeat: no-repeat;
}