.tNavBar {
    position: static;
    width: 100%;
    left:0px;
    display: flex;
    font-size: 17px;
    /* padding: 20px; */
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box;
    display: flex;
    color: rgb(40, 40, 40);
    border-bottom: solid 1px#FFC947;
}
.tNavLogo {
    width: 15%;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #000F94
}
.tNavLogo + div {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tNavButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}
.tNavButton div {
    width: 15px;
    padding-top: 3px;
    margin-left: 5px
}
.tNavButton img {
    width: 80%;
}

/* ------ third part ----------------- */
.tNavLogo + div + div {
    width: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 60px;
}
.tNavLogo + div + div > div {
    margin: 5px;
}
.navLang {
    display: flex;
}
.navLang img {
    width: 18px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: none;
    background-color: white;
    font-weight: bold;
    color: #000F94
}

/* hover effects -----------*/

.tNavLogo + div > div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tNavDropDownList {
    box-sizing:border-box;
    padding: 4px;
    padding-right: 8px;
    width: 115px;
    background-color:transparent;
   /* border: solid 2px #DFE1E6;*/
    color: #888989;
    font-size: 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    background-image: url('./down_arrow.svg');
}
.tNavDropDownList::-ms-expand {
    display: none;
}