.inscription {
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAFC;
}
.inscription header {
    padding-top: 25px;
    padding-bottom: 25px;
}
.inscription header img {
    width: 90px;
}
.insMain {
    width:400px;
}
.insMainSection {
    box-shadow: 0px 0px 6px 3px rgb(235,235,235);
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.insTitle  {
    color: #505F79;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 35px;
}
.insTitle + div + div {
    width:320px;
    text-align: justify;
    font-size: 12px;
}
.insInput {
    margin-bottom: 20px;
}
.insLaw {
    margin: 20px;
}
.insOR {
    margin-top: 20px;
    margin-bottom: 20px;
}
.insPolicy {
    width:320px;
    font-size: 12px;
}
.insPolicy span {
    color: #1B64D1;
    cursor: pointer;
}
.insPolicy span:hover {
    text-decoration: underline;
}
.insLast {
    margin-bottom: 20px;
}
.insLast a {
    color: #1B64D1;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}
.insLast a:hover {
    text-decoration: underline;
}

.insSiteLang {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: solid 1px;
    color: rgb(200,200,200);
}